* {
  box-sizing: border-box;
  max-width: 100%;
}
body{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 0;
	margin: 0;
  background-color: #0e2433;
}
main{
  margin-top: 30px;
}
.contato-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 70vh;
  }
  
  .contato-content section {
    margin-bottom: 20px;
  }
  .contato-content h1 {
    color: #489640;
    font-size: 34px;
    margin-bottom: 10px; 
    margin-top: 10px;
  }
  
  .contato-content p {
    color: #a9a9a9;
    font-size: 24px;
    line-height: 1.5; 
    margin-bottom: 10px;
  }
  
  .contato-content ul {
    list-style-type: none; 
    padding: 0;
    font-weight: bold;
  }
  
  .contato-content li {
    color: #a9a9a9;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 5px; 
  }
  
  .contato-content li a {
    color: #489640;
    text-decoration: none;
  }
  
  .contato-content li a:hover {
    text-decoration: underline;
  }
@media screen and (max-width: 600px){
  .contato-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height:auto;
  }
}