* {
	box-sizing: border-box;
	max-width: 100%;
  }
body{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 0;
	margin: 0;
}
.hero{
	background-color: #b6d8c4 ;
	display: flex;
	align-items: center;
}
.hero-content{
	margin-right: 20px;
}
.hero-content h2{
	margin-bottom: 10px;
	color: #000000;
	margin-left: 80px;
	margin-top: 0px;
	font-family: "Fredoka", sans-serif;
	font-weight: bolder;
	font-size: 40px;
}
.hero-content p {
	margin-left: 80px;
	margin-right: 80px;
	font-family: "Quicksand", sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #EF3628
}
.hero img{
	margin-right: 60px;
}
.hero-content button{
	font-size: 30px;
	padding: 15px 18px;
	margin-left: 80px;
	margin-right: 80px;
	font-weight: bold;
	border: none;
	border-radius: 32px;
	color: #0d4c31;
	background-color: #ffffff;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}
.hero-content button a{
	text-decoration: none;
	text-decoration-color: none;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero-content button a:link{
	text-decoration: none;
	text-decoration-color: none;
}
.hero-content button a:active, .button a:focus{
	text-decoration: none;
	color: #0d4c31;
}
.hero-content button a:-webkit-any-link {
    color: #0d4c31;
    cursor: pointer;
    text-decoration: none;
}
.features{
	background-color: #2A2269;
	text-align: center;
	padding: 60px 0;
}
.features h2{
	color: #f5e29b;
	text-align: center;
	font-weight: bolder;
	font-size: 34px;
	font-family: "Quicksand", sans-serif;
}
 .features table{
	color: #ffffff;
	font-size: 26px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	table-layout: fixed;
	text-align: center;
  }
  .features table a:-webkit-any-link {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}
.features table tr th a:hover{
	color: #f5e29b;
}
footer{
	text-align: center;
	padding: 30px 0;
	background-color: #333333;
	color:#ffffff
}
footer button{
	border: none;
	padding: 12px 24px;
	border-radius: 38px;
	font-size: 32px;
	text-decoration: none;
	text-decoration-color: none;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	background-color: #4681f4;
}
footer button a:link{
	text-decoration: none;
	text-decoration-color: none;
}
footer button a:active, .footer button a:focus{
	text-decoration: none;
	color: #ffffff;
}
footer button a:-webkit-any-link {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}