* {
	box-sizing: border-box;
	max-width: 100%;
  }
body{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #b6d8c4 ;
}
.hero{
	display: flex;
	align-items: center;
}
.hero-content h2{
	margin-bottom: 10px;
	color: #000000;
	margin-left: 80px;
	margin-top: 0px;
	font-family: "Fredoka", sans-serif;
	font-weight: bolder;
	font-size: 40px;
}
.hero-content p {
	margin-left: 80px;
	margin-right: 80px;
	font-family: "Quicksand", sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #333;
}
.hero img{
	margin-right: 60px;
}
.hero-content button{
	font-size: 30px;
	padding: 15px 18px;
	margin-left: 80px;
	margin-right: 80px;
	font-weight: bold;
	border: none;
	border-radius: 32px;
	color: #0d4c31;
	background-color: #ffffff;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}
.hero-content button a{
	text-decoration: none;
	text-decoration-color: none;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero-content button a:link{
	text-decoration: none;
	text-decoration-color: none;
}
.hero-content button a:active, .button a:focus{
	text-decoration: none;
	color: #0d4c31;
}
.hero-content button a:-webkit-any-link {
    color: #0d4c31;
    cursor: pointer;
    text-decoration: none;
}
@media screen and (max-width: 600px){
	body{
		max-width: 100%;
	}
	.hero{
		display: block;
	}
	.hero img{
		margin-right: 0px;
	}
	.hero-content h2{
		color: #000000;
		margin-left: 20px;
		margin-top: 20px;
		font-family: "Fredoka", sans-serif;
		font-weight: bolder;
		font-size: 26px;
	}
	.hero-content p {
		margin-left: 20px;
		margin-right: 10px;
		font-family: "Quicksand", sans-serif;
		font-size: 18px;
		font-weight: bold;
		color: #333;
	}
	.hero-content button{
		font-size: 24px;
		padding: 12px 15px;
		margin-left: 20px;
		margin-bottom: 20px;
		font-weight: bold;
		border: none;
		border-radius: 32px;
		color: #0d4c31;
		background-color: #ffffff;
		outline: none;
		cursor: pointer;
		text-decoration: none;
	}
}
