* {
	box-sizing: border-box;
	max-width: 100%;
  }
body{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 0;
	margin: 0;
	align-items: center;
}
header{
	width: 100%;
	background-color: #0d4c31;
}
.menu{
	display: flex;
	align-items: center;
}
.menu nav{
	display: flex;
	align-items: center;
}
.menu nav img{
	margin-right: 550px;
	margin-left: 250px;
}
.menu nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 0;
	width: 100%;
	font-weight: bolder;
	display: flex;
	margin-left: 100px;
}
.menu nav ul li{
	margin-left: 25px;
}
.menu nav ul li a{
	font-family: "Quicksand", sans-serif;
	font-size: 20px;
	margin-top: 0px;
	display: block;
	color: #f5e29b;
	text-align: center;
	padding: 14px 18px;
	text-decoration: none;
}
@media screen and (max-width: 780px){
	body{
		max-width: 100%;
		font-size: 1.0em;
	}
	header {
		background-color: #0d4c31;
		padding: 20px;
		color: #fff;
	}
	
	.menu nav{
		display: inline;
	}
	.menu nav img{
		max-width: 100%;
		display: block;
		align-items: center;
		margin-right: 1250px;
		margin-left: 250px;
		
	}
	.menu nav ul {
		list-style-type: none;
		padding: 0;
		margin-top: 5px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	.menu nav ul li {
		text-align: center;
		display: inline;
		margin-right: 0px;
		margin-left: 0px;
	}
	
	.menu nav ul li a {
		font-size: 1.2em;
		text-decoration: none;
		color: #f5e29b;
		font-weight: bold;
		padding: 10px 14px;
	}
}
		color: #f5e29b;
		font-weight: bold;
		padding: 10px 14px;
	}
}
