* {
	box-sizing: border-box;
	max-width: 100%;
  }
body{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 0;
	margin: 0;
}
.features{
	background-color: #ff8b3d;
	text-align: center;
	padding: 60px 0;
	color: #000000;
}
.features h2{
	color: #0e2433;
	text-align: center;
	font-weight: bolder;
	font-size: 34px;
	font-family: "Quicksand", sans-serif;
}
 .features table{
	font-size: 26px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	table-layout: fixed;
	text-align: center;
  }
  .features table a:-webkit-any-link {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
.features table tr th a:hover{
	color: #f5e29b;
}
@media screen and (max-width: 600px){
	.features{
		padding: 10px 0;
	}
	.features h2{
		font-size: 24px;
	}
	.features table{
		font-size: 22px;
		width: 75%;
	  }
}