*{
    margin: 0; 
    padding: 0;
}
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f1f1f1;
    color: #333;
    line-height: 1.6;
}
main {
    padding: 20px;
    background-color: #fff;
    margin: 0px;
} 
main h1 {    
    font-family: 'Nunito', sans-serif;  
    font-size: 28px; 
    margin-bottom: 10px;
}
main h2{
	margin-bottom: 10px;
	color: #000000;
	margin-left: 60px;
    margin-right: 60px;
	margin-top: 0px;
	font-family: "Fredoka", sans-serif;
	font-weight: bolder;
	font-size: 40px;
}
main p {
	margin-left: 60px;
	margin-right: 60px;
    margin-bottom: 10px;
	font-family: "Quicksand", sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #333;
}
main img{
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}